p Dear #{name},
p Your password has been changed. If you did not update your account, please tell us immediately. Submit a help request or email 
    <a href="mailto:vitorcripto9@gmail.com">vitorcripto9@gmail.com</a>.
p If you are having trouble accessing your account, <a href="#{url}" target="_blank">reset</a> your password.
p Kind regards.