p Dear #{name},
p We received your request to reset your account password. By clicking the link below, you are presented with a form to choose a new password.
p Please note that this link only works for 5 hours. If this link is expired, please generate another link.
p
    | <a href="#{url}" target="_blank">Reset you password</a>
p Kind regards.